html,
body {
  height: 100%;
  box-sizing: border-box; 
}
html {
  overflow-x: hidden;
}
body {
  background: #000;
  color: #ddd;
  font-size: 14px;
}
body,
pre,
code {
  font-family: 'Inconsolata', monospace;
}
h1,
h2,
h3,
pre,
code {
  color: #fff;
  font-weight: normal;
}
code {
  background-color: rgba(255,255,255,.15);
}
a {
  color: #e74c3c;
}
main {
  padding: 5em 1.5em!important;
}
canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

h1 {
  font-size: 18px;
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  margin-top: 20px;
}
h2,
h3 {
  font-size: 16px;
}
